/* VideoBackground.css */
.video-background {
    position: relative;
    width: 100%;
    height: 85vh;
    overflow: hidden;
    background: radial-gradient(75.73% 238.9% at 100% 60.92%, rgba(46, 46, 46, 0) 54.75%, #1A1A1A 85.72%, #131313 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    border-bottom-left-radius: 85px;
    border-bottom-right-radius: 85px;
    box-shadow: 0px 10px 66px 57px #473827;
    border-bottom: 3px solid white !important;
  }
  
  .video-background .video {
    position: absolute;
    top: 50%;
    left: 72%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  
  .video-background .content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    padding: 20px;
    display: flex;
    gap: 15%;
   
  }
  .bestcard_container {
    display: flex;
    margin-top: -2px;
    border-bottom-left-radius: 85px;
    border-bottom-right-radius: 85px;
   border-bottom: 3px solid white;
   
}
.cc_image {
    width: 35%;
    top: 20%;
    position: absolute;
    right: 7%;
}
.cc_image:hover{
  cursor: pointer;
  scale: 1.1;
  transition: .5s ease-in-out;
}
.bestcard_content{
   margin-top: 7%;
    padding-left: 10%;
}
p.bestcard_p {
    font-size: 3.4rem;
    text-align: left;
}
.gradient-border-new {
    position: relative;
    border-radius: 8px;
    background: linear-gradient(white, white) padding-box,linear-gradient(0deg, #c7c1c1, white) border-box;
    border: 2px solid transparent;
    width: 50%;
}
.button {
    padding: 12px 20px;
    border-radius: 5px;
    background: #222121;
    text-align: center;
    color: #FFE9BE;

    
}
.comparebtm-btn-2:hover{
  cursor: pointer;
}
button.comparebtm-btn-2 {
  padding: 12px;
  width: 225px;
  border: 1.5px solid gray;
  border-radius: 6px;
  color: #FFE9BE;
  background: linear-gradient(181deg, #D6D3C233, #5C5C5C24);
  font-size: 1rem;
  box-shadow: inset 5px 8px 10px #8080802b;
  
}
.btn_container_header{
  text-align: left;
}

