.tata{
    background: #e4e4e4;
    color: black;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.tata-head{
    margin-top: 35px;
}
.video-tata{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ratan-pic {
    position: absolute;
    top: 7%;
    width: 30%;
    left: 50%;
    transform: translate(-50%, 50%);
    background: url('https://d22ueo28hfk252.cloudfront.net/Content/versioned/2.0.0.1/images/version4/promotion_september_24/zenrik_images/Vector-8-min-17252952920715.png?v=1725295293');
    background-size: contain;
}
.ratan-pic-text {
    position: absolute;
    top: 40%;
    width: 85%;
    left: 50%;
    transform: translate(-50%, 50%);
}
.tib{
    position: relative;
    z-index: 9999;
}