.traingle-container {
    display: flex;
}
.traingle_card {
    width: 20%;
}
.traingle-container {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    gap: 4%;
    margin-top: 100px;
}
.traingle_card:hover{
    cursor: pointer;
    scale: 1.1;
    transition: .5s ease-in-out;
  }